
.bg {
	background-image: url(../images/background.jpg);
	background-size: cover;
	width: 100%;
	height: 2200px;
	padding:0;
	border: 0;
}

.main {
	background-image: url(../images/backgroundtoppage.jpg);
	background-size: cover;
	width: 100%;
	padding:0;
	border: 0;
}

.logo {
	display: inline-block;
	width:100px;
	float: left;
	color: white;
	font-size: 23px;
	margin: 50px 100px;
	padding:0;

}

ul.nav {
	list-style: none;
	text-align: right;
	padding: 50px;
}

.nav li {
	display:inline;
}

.nav a {
	text-decoration: none;
	padding: 20px;
	font-size: 14px;
	color: white;
}

.nav a:hover {
	transform: scale(1.2);
}

.fitnes{
	text-align: right;
	display: inline-block;
	width:500px;
	color: white;
	font-size: 40px;
	margin: 50px 100px 0 100px;
	padding:0;
}

.yes{
	text-align: right;
	display: inline-block;
	width:500px;
	color: white;
	font-size: 20px;
	margin: 0 100px 0 100px;
	padding:0;
}