.main {
	background-image: url(../images/background.jpg);
	height: 1074px;
	max-width: 100%;
	max-height: 100%;
	margin:0;
	padding:0;
	border: 0;
}

ul.nav {

	margin-left: 0;
	padding-left: 0;
	list-style: none;
	border-bottom: 2px solid #bebebe;
	border-bottom-width: 100%;
	text-align: center;
	padding: 40px;
}

.nav li {
	display:inline;
}

.nav a {
	display: inline-block;
	text-decoration: none ;
	color: 	#bebebe;
	width: 200px;
	font-family: Arial;
	font-size: 25px;
}

.nav a:hover {
	transform: scale(1.2);
}

.logo {
	margin-left:0;
	padding-left:0;
	width: 100%;
}


.lable {
	text-align: center;
	color: #bebebe;
	font-family: Arial;
	font-size: 40px;
}

.lable a p{
	text-decoration: none;
}

.scroll {
	text-align: center;
	color: #bebebe;
	font-family: Arial;
	font-size: 20px;
	position: relative;
	top: 100px;
}

.aboutme {
	height: 1074px;
	max-width: 100%;
	max-height: 100%;
	margin:0;
	padding:0;
	border: 0;
}



.myphoto{
	margin:0;
	padding: 70px 50px 20px 65px;
	width: 48%;
	float: left;
}

.about {
	
	display: inline-block;
	width: 40%;
	padding-top: 100px;
} 

.about-title {
	font-family: Calibri Light;
	font-size: 45px;
}

.about-text {
	font-family: Calibri Light;
	font-weight: 10px;
	font-size: 20px;
	line-height: 200%;
}

.about-bottom {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 70px;
	font-family: Bradley Hand ITC;
	font-size: 20px;
	line-height: 200%;
	font-weight: bolder;
}


.portfolio {
	height: 1074px;
	max-width: 100%;
	max-height: 100%;
	margin:0;
	padding:0;
	border: 0;

	background-image: url(../images/portfolio-background.jpg);

}

.porfolio-logo {
	text-align: center;
	color: #bebebe;
	font-family: Arial;
	font-size: 40px;
}

.contact {
	height: 1074px;
}

.portfolioimg {
	text-align: center;
	padding-top: 20px;
}

.portfolioimg img {
	margin:0;
	border:0;
	padding:5px;
	width: 18%;

}

.portfolio .scroll {
	margin-top: 50px;
}

.portfolio img:hover {
	transform: scale(1.2);
}


.contacttext {
	margin-top: 150px;
	text-align: center;
	font-family: Ebrima;
}

.contactlogo {
	margin:0;
	padding:0;
	border:0;
	font-size: 30px;
	font-weight: bolder;
	line-height: 250%;
}

.contactvar{
	text-decoration: none; 
	margin:0;
	padding:0;
	border:0;
	font-size: 50px;
	color: black;

}

.socialicons a img {
	padding:15px;
}
